REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=

# Code à donner aux agents pour qu'ils puissent créer un compte sur le MDT.
# Laisse vide pour désactiver la vérification (déconseillé).
REACT_APP_SIGNUP_CODE=
